form {
     width: 100%;
     height: 240px;
//     background-color: lightgray;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
//   .data_input {
//     padding: 10px;
//     display: flex;
//   }
//   label {
//     padding: 0 7px;
//   }
   .search__date_from,
   .search__date_to {
     width: 200px;
     padding: 20px;
     cursor: pointer;
//     font-family: 'Lato', sans-serif;
//     font-size: 16px;
   }
//   #people {
//     border: none;
//     font-size: 14px;
//     padding: 1px;
//     outline: none;
//     height: 25px;
//     width: 30px;
//   }
  
   button {
     width: 100px;
     margin-bottom: 10px;
     border-radius: 5px;
     padding: 3px;
     border: none;
     box-shadow: 4px 4px 10px 0px rgba(119, 119, 119, 0.75);
     color:whitesmoke;
     background-color: lightsteelblue;
     align-items: center;
   }
  
  button:hover {
    box-shadow: none;
  }
  