<form>
    <div class="data_input">
      <div class="input_fields">
        <label for="from_place">START</label>
        <select name="from_place" [(ngModel)]="departurePlaceInput">
          <option *ngFor="let place of departurePlaces" value="{{place.code}}">{{place.city}}</option>
        </select>
      </div>
      <div class="input_fields">
        <label for="from">CEL</label>
        <select name="from_place" [(ngModel)]="arrivalPlaceInput">
          <option *ngFor="let place of arrivalPlaces" value="{{place.code}}">{{place.city}}</option>
        </select>
      </div>
    </div>
    <div class="data_input">
      <div class="input_fields">
        <label for="from">Z:</label>
        <input type="date" class="search__date_from" id="from" required />
      </div>
  
      <div class="input_fields">
        <label for="to">DO:</label>
        <input type="date" class="search__date_to" id="to" required />
      </div>
    </div>
    <div class="data_input">
      <label for="people_amount">Liczba pasażerów:</label>
      <select name="people_amount" id="people">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <button (click)="save()">Pokaż</button>
  </form>
  
  <app-recomented-countries></app-recomented-countries>
  
