form {
     width: 50%;
     height: 300px;
//     background-color: lightgray;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: left;
  }
//   .data_input {
//     padding: 10px;
//     display: flex;
//   }
//   label {
//     padding: 0 7px;
//   }
    #from_date,
    #to_date {
      width: 150px;
      padding: 2px;
      cursor: pointer;
     font-family: 'Lato', sans-serif;
     font-size: 16px;
    //  display: flex;
    //  flex-direction: column;
    }
//   #people {
//     border: none;
//     font-size: 14px;
//     padding: 1px;
//     outline: none;
//     height: 25px;
//     width: 30px;
//   }
  
  //  button {
  //    width: 100px;
  //    margin-bottom: 10px;
  //    border-radius: 5px;
  //    padding: 3px;
  //    border: none;
  //    box-shadow: 4px 4px 10px 0px darkgray;
  //    color:whitesmoke;
  //    background-color: lightsteelblue;
  //    align-items: center;
  //  }
  
  button:hover {
    box-shadow: none;
  }
  