.infos{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }

  .columns {
    width: 25%;
  }

  li{
    list-style-type: none;
  }
  
  .footer{
    position: absolute;
    background: url("https://i.ibb.co/6m6zTSR/europa1.png");
    background-color: lightslategray;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
  }
  
  .socialmedia{
    text-align: center;
    margin: 10px 0;
  }
  
  .socialmedia img{
    margin: 0 40px;
  }
  
  .copyright{
    text-align: center;
  }
  
  @media (max-width: 600px) {
    li {
        display: none;
    }
    .columns p{
      font-size: 14px;
    }
  }
  
  @media (max-width: 500px) {
     ul {
      display: none;
    }
  }
  