<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center"> Prognoza pogody</h3>
            <form [formGroup]="weatherSearchForm" (ngSubmit)="sendTo(weatherSearchForm.value)">
                <div class="form-group">
                    <input 
                        class="form-control"
                        type="text"
                        id="weatherLocation"
                        placeholder="Pleace input a Loction" 
                        formControlName="location"/>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-succes btn-md">
                        Pokaż pogodę</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3 class="text-center my-4"> Szczegóły pogody: </h3>
            <p class="text-center">Temperatura: {{this.weatherData?.main.temp}}</p>
            <p class="text-center">Temperatura odczuwalna: {{this.weatherData?.main.feels_like}}</p>
            <p class="text-center">Zachmurzenie:{{this.weatherData?.sys.country}} </p>
            <p class="text-center">Lokalizacja:{{this.weatherData?.name}} </p>
        </div>    
    </div>
</div>
