<h2>Werfikacja danych użytkownika</h2>
<form #loginForm="ngForm">
    <div>
    <!-- <div class="wrapper"> -->
        <label for="login"> Login
         <input required minlenght=4 ngModel type="text" name="login" placeholder="login" #login="ngModel">
        </label>
    </div>
    <div>
        <label for="password"> Hasło
          <input required ngModel type="password" name="password" placeholder="password" #password="ngModel">
        </label>
    </div>
    <!-- </div> -->
    <div>
        <button (click)="logon(login, password)">Zaloguj się</button>
        <p>Weryfikacja poprwaności logowania:</p>
        <div *ngIf="login.errors"> Nie wprowadzono poprawnego loginu</div>
        <div *ngIf="login.errors?.minlenght"> Za krótki login, Liczba znaków: {{login.errors?.minlength.actualLength}}</div>
        <div *ngIf="password.errors"> Nie wprowadzono poprawnego hasła</div>
        <div>{{ userVerify }}</div>
    </div>
</form>



