<p>Test</p>
<div >
    <p>Moja ikona</p>
        <p class="text-center"><img [src]="weather.icon" style="float: center;"/></p>
    {{weather.icon}}
    <!-- <p *ngIf="weather.lenght == 0">Szukam...</p>
    <div *ngIf="weather.lenght > 0">
        <table>
            <thedy></thedy>
            <body>
                <tr>
                    <td *ngFor="let forecast of weather">
                        <img [src]="forecast.iconLink" />
                        <p>{{ forecast.highTemperature }}</p>
                        <p>{{ forecast.utcTime }}</p>
                    </td>
                </tr>
            </body>
        </table>
    </div> -->
</div>

<!-- <app-nav></app-nav>
<router-outlet></router-outlet>
 <app-weather>#display</app-weather>
<app-selection>(onSelection)="display.update($event)"</app-selection>
<app-footer></app-footer> -->