
 <app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>



  <!--
<div >
        <p class="text-center"><img [src]="weather.icon" style="float: center;"/></p>

   <p *ngIf="weather.lenght == 0">Szukam...</p>
    <div *ngIf="weather.lenght > 0">
        <table>
            <thedy></thedy>
            <body>
                <tr>
                    <td *ngFor="let forecast of weather">
                        <img [src]="forecast.iconLink" />
                        <p>{{ forecast.highTemperature }}</p>
                        <p>{{ forecast.utcTime }}</p>
                    </td>
                </tr>
            </body>
        </table>
    </div> 
</div> -->
