<p>Pole szczegółów</p>
<!-- <section >
<div class="information">
    <p>{{chosenCountry}}</p>
    <table>
      <tbody>
        <tr>
          <td>Population</td>
          <td>{{country.population}}</td>
        </tr>
        <tr>
          <td>Capital</td>
          <td>{{country.capital}}</td>
        </tr>
        <tr>
          <td>Language</td>
          <td>{{country.language}} </td>
        </tr>
        <tr>
          <td>Currency</td>
          <td>{{country.currency}} </td>
        </tr>
        <tr>
          <td>Area</td>
          <td>{{country.area}} km<sup>2</sup></td>
        </tr>
      </tbody>
    </table>
  </div>
  </section> -->
