
<a routerLink="/country"> Powrót </a>

 <section >
<div class="information">
    <p>{{chosenCountry}}</p>
    <table>
      <tbody>
        <tr>
          <td>Populacja</td>
          <td>{{population}}</td>
        </tr>
        <tr>
          <td>Stolica</td>
          <td>{{capital}}</td>
        </tr>
        <tr>
          <td>Język</td>
          <td>{{lang}} </td>
        </tr>
        <tr>
          <td>Waluta</td>
          <td>{{currency}} </td>
        </tr>
        <tr>
          <td>Powierzchnia</td>
          <td>{{area}} km<sup>2</sup></td>
        </tr>
      </tbody>
    </table>
  </div>
  </section> 
